<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>

    <th:block th:insert="~{fragments.html :: cdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/login.css">

    <script defer src="/js/common.js"></script>
    <script defer src="/js/user/login.js"></script>
</head>
<body>

<th:block th:replace="~{fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1 class="title">로그인</h1>
        <form id="loginForm"
              th:with="userRegex = ${T(com.example.todolist.regexes.UserRegex)}">
            <label>
                <p class="text">이메일</p>
                <input type="text" maxlength="50" name="email" placeholder="이메일 (user@sample.com)" id="email"
                       class="common-input spring" th:regex="${userRegex.EMAIL.expression}">
                <div></div>
            </label>
            <label>
                <p class="text">비밀번호</p>
                <input type="password" class="common-input spring" maxlength="15" name="password" id="password"
                       placeholder="비밀번호 (숫자, 특수문자를 포함한 8~15자)" th:regex="${userRegex.PASSWORD.expression}">
            </label>
            <p hidden class="fail-text" id="failText"></p>
            <input type="submit" value="로그인" class="common-btn">
        </form>
    </div>
</main>

<th:block th:replace="~{fragments.html :: footer}"></th:block>

</body>
</html>