<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>

    <th:block th:insert="~{fragments.html :: cdns}"></th:block>

    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/common.css">

    <script defer src="/js/user/login.js"></script>
</head>
<body>

<th:block th:replace="~{fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    하이
</main>

</body>
</html>