@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input, select, textarea, button {
    background-color: inherit;
    border: none;
    color: inherit;
    font: inherit;
    margin: unset;
    outline: none;
    padding: unset;
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background-color: white !important;
}

body.dark input:-webkit-autofill,
body.dark input:-webkit-autofill:hover,
body.dark input:-webkit-autofill:focus,
body.dark input:-webkit-autofill:active {
    -webkit-text-fill-color: white;
}

.spring {
    flex: 1;
}

.horizontal {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.375rem;
    justify-content: flex-start;
}

.verticality {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    justify-content: flex-start;
}

.blur {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.25rem);
    background-color: #17202aa0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 998;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.blur.visible {
    opacity: 1;
    pointer-events: all;
}

.content-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-container {
    max-width: 1000px;
    width: 100%;
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-select {
    background-color: white;
    border: 0.0625rem solid #cccccc;
    border-radius: 5px;
    padding: 0.5rem;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
}

.common-input {
    border: 0.0625rem solid #c5c5c5;
    border-radius: 5px;
    padding: 0.5rem;
}

.common-input:hover,
.common-input:focus {
    border: 0.0625rem solid #3498db;
}

.common-btn {
    background-color: #ffffff;
    border: 0.0625rem solid #c5c5c5;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
}

.common-btn:active {
    background-color: #eaecee;
}

body.dark .common-btn {
    background-color: black;
    border: 0.0625rem solid white;
}

body.dark .common-btn:active {
    background-color: #2b2b2b;
}

#header {
    background-color: antiquewhite;
    height: 5rem;
}

body.dark #header {
    background-color: #2b2b2b;
}

body.dark h1,
body.dark p,
body.dark input,
body.dark button,
body.dark select {
    color: white;
}

#header ul {
    margin: 0 2rem;
    height: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    font-size: 16px;
}

#header .night-mode-btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
    border: none;
    background-color: unset;
}

#header .night-mode-icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAt0lEQVR4nNXTPQoCMRCG4RcV/DuCNlbiDWwEEWysLL2BlaXgDRQstdjSK9ipeCMrK9EmMpAihF03mVQOfJAmD5lhAv9SU2CZAtSADDDALAXKLCLppLRjnNS10N2DuhqkDXw8aKGBBh4iuWmgfg4kmcdCrZzWJE9gGItdC171AtZAIxSaFEDG5gGcgA2wAna/du1Yghkn+7IvcghAtkAlpM0xcAHezmU5n4FR6KzcatrV6AFVDRBdX3MQTQIMX0DIAAAAAElFTkSuQmCC");
    width: 18px;
    height: 18px;
    margin-bottom: 0.1rem;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.dark #main {
    background-color: black;
}

#main .title {
    font-size: 2.5rem;
    font-weight: 700;
}

#main .password-warning-container {
    overflow: hidden;
    max-height: 0;
    transition-duration: 350ms;
    transition-property: max-height;
    transition-timing-function: ease;
}

#main .password-warning-container.visible {
    max-height: 1.5rem;
}

#footer {
    background-color: antiquewhite;
    height: 6rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.dark #footer {
    background-color: #2b2b2b;
}