@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

*{
    box-sizing : border-box;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

body {
    min-height: 100vh;
    color: #17202a;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    font-weight: 300;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-container-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-container {
    max-width: 1000px;
    width: 100%;
}