.section-container {
    margin: 10rem 0;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

section {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-weight: 700;
    font-size: 3.5rem;
}

.section-text {
    font-weight: 500;
    font-size: 1.7rem;
}

.login-btn {
    font-weight: 600;
    font-size: 1.25rem;
    width: 200px;
}

label {
    gap: 0.35rem;
    display: flex;
    flex-direction: column;
}

#scheduleAddForm {
    background-color: #eaecee;
    width: 400px;
    padding: 1.25rem;
    border: 0.0625rem solid #D4D4D4;
    border-radius: 10px;

    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

body.dark #scheduleAddForm {
    background-color: black;
}

#scheduleAddForm .title {
    border: unset;
    background-color: #eaecee;
    border-bottom: 0.0625rem solid #566573;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

#scheduleAddForm .title:focus {
    outline: none;
}

body.dark #scheduleAddForm .title {
    background-color: black;
}

body.dark .time-select {
    background-color: black;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.button-container a {
    border: 0.0625rem solid #D4D4D4;
    border-radius: 10px;
    background-color: #FCFCFC;
    width: 150px;
    height: 150px;
}

body.dark .button-container a {
    border: 0.0625rem solid #2b2b2b;
    background-color: #566573;
}

.button-container a:hover {
    background-color: #F2F2F2;
}

body.dark .button-container a:hover {
    background-color: #2c3e50;
}

.button-container a img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}